<li>
  <span class="description"><%= garment.description %></span>
  <span class="timestamp">
    Added <%= time_ago_in_words(garment.created_at) %> ago.
  </span>
  <% if current_user?(garment.user) %>
    <%= link_to "delete", garment, method:  :delete,
                                   confirm: "You sure?",
                                   title:   garment.description %>
  <% end %>
</li>
