<% provide(:title, 'Add Item') %>
<h1>Edit an Item</h1>

<div class="row">
  <div class="span6 offset3">
      <%= form_for(@item) do |f| %>
          <%= render 'fields', f: f %>
          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>
